.container-img {
  position: relative;
  text-align: center;
  color: white;
  margin-right: auto;
  margin-left: auto;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.st-1 {
  margin-top: 1%;
}

.container-fluid-0 {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  padding-top: 4px;
}

.h-light-blue {
  color: #00aae4 !important;
}

.h-peach {
  color: #fe816d;
}

.dark-blue {
  color: #0b1731;
}

.h-900 {
  font-weight: 900;
}

.h-700 {
  font-weight: 700;
}

.h-51 {
  font-size: 51px !important;
}

.h-48 {
  font-size: 48px !important;
}

.p-300 {
  font-weight: 300 !important;
}

.padding-0px {
  padding-left: 0;
  padding-right: 0;
}

.padding-9px {
  padding-left: 9px;
  padding-right: 9px;
}

.padding-right-9px {
  padding-right: 9px !important;
}

.padding-left-9px {
  padding-left: 9px !important;
}

.left-align-30 {
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: left;
}

.line-h-13 {
  line-height: 1.3 !important;
}

.top-margin-40 {
  margin-top: 40px;
}

.top-5 {
  margin-top: 5%;
}

.top-8 {
  margin-top: 8%;
}

.top-10 {
  margin-top: 10%;
}

.top-20 {
  margin-top: 20%;
}

.top-15 {
  margin-top: 15%;
}

.top-13 {
  margin-top: 13%;
}

.top-18 {
  margin-top: 18%;
}

.top-0 {
  margin-top: 0;
}

.bottom-5 {
  margin-bottom: 5%;
}

.bottom-0 {
  margin-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5%;
}

.pl-10 {
  padding-left: 10%;
}

.pb-3 {
  padding-bottom: 3% !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5%;
}

.bg-image-solution {
  /* The image used */
  background-image: url("/images/solution1.jpg");
  /* Full height */
  height: 100%;
  min-height: 800px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-utility {
  /* The image used */
  background-image: url("/images/utility.png");
  /* Full height */
  height: 100%;
  min-height: 480px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-celgene {
  /* The image used */
  background-image: url("/images/celgene.png");
  /* Full height */
  height: 100%;
  min-height: 480px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-customer {
  /* The image used */
  background-image: url("/images/customer.png");
  /* Full height */
  height: 100%;
  min-height: 480px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-estate {
  /* The image used */
  background-image: url("/images/estate.png");
  /* Full height */
  height: 100%;
  min-height: 480px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-flow {
  /* The image used */
  background-image: url("/images/flow.png");
  /* Full height */
  height: 100%;
  min-height: 480px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-professional {
  /* The image used */
  background-image: url("/images/professional.png");
  /* Full height */
  height: 100%;
  min-height: 480px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-link {
  color: #ffffff;
  text-decoration: none;
}

.img-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.width-480 {
  max-width: 480px;
}

.width-370 {
  max-width: 370px;
}

.width-85 {
  max-width: 85px;
}

hr.style1 {
  border-top: 1px solid #d7d7d7;
}

ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

li.bullet:before {
  content: "";
  border-color: transparent #008eef;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

li.bullet {
  font-size: 18px !important;
  font-weight: 300;
}

.bg-gray {
  background-color: #fff2eb;
}

.btn-peach {
  padding: 10px 70px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 2px;
  color: #fff;
  background-color: #fe816d;
  border-color: #fe816d;
}

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.m-10 {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
}

.m-top-10 {
  margin-top: 10px;
}

.hov-img:hover {
  transform: scale(1.05);
  -webkit-transition: all .3s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .3s;
  filter: brightness(50%);
}

/********* NAVBAR CUSTOM COLOR *************/
/* hover */
.navbar-blue .navbar-nav>li>a:hover,
.navbar-blue .navbar-nav>li>a:focus {
  color: #a9e3ff !important;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #0b1731 !important;
}

.navbar-blue .navbar-nav>.dropdown>a:hover .caret,
.navbar-blue .navbar-nav>.dropdown>a:focus .caret {
  border-top-color: #a9e3ff !important;
  border-bottom-color: #fff !important;
}

/* navbar */
.navbar-blue {
  background-color: #0b1731;
}

/* Title */
.navbar-blue .navbar-brand {
  color: #777;
}

.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
  color: #5E5E5E;
}

/* Link */
.navbar-blue .navbar-nav>li>a {
  color: #fff;
}

.navbar-blue .navbar-nav>li>a:hover,
.navbar-blue .navbar-nav>li>a:focus {
  color: #333;
}

.navbar-blue .navbar-nav>.active>a,
.navbar-blue .navbar-nav>.active>a:hover,
.navbar-blue .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #E7E7E7;
}

.navbar-blue .navbar-nav>.open>a,
.navbar-blue .navbar-nav>.open>a:hover,
.navbar-blue .navbar-nav>.open>a:focus {
  color: #555;
  background-color: #D5D5D5;
}

/* Caret */
.navbar-blue .navbar-nav>.dropdown>a .caret {
  border-top-color: #fff;
  border-bottom-color: #777;
}

.navbar-blue .navbar-nav>.dropdown>a:hover .caret,
.navbar-blue .navbar-nav>.dropdown>a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-blue .navbar-nav>.open>a .caret,
.navbar-blue .navbar-nav>.open>a:hover .caret,
.navbar-blue .navbar-nav>.open>a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}

/* Mobile version */
.navbar-blue .navbar-toggle {
  border-color: #DDD;
}

.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
  background-color: #DDD;
}

.navbar-blue .navbar-toggle .icon-bar {
  background-color: #CCC;
}

.span-4 .img-left {
  float: left;
}

.span-4 .img-right {
  float: right;
}

/*********************************************************************/
/**************** MEDIA QUERIES **************************************/
/*********************************************************************/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .padding-right-9px {
    padding-right: 0 !important;
  }

  .padding-left-9px {
    padding-left: 0 !important;
  }

  .resp-img {
    margin-bottom: 1%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .navbar-blue .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  .navbar-blue .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #333;
  }

  .resp-img h1 {
    font-size: 23px;
  }

  .resp-img h4 {
    font-size: 14px;
  }

  .st-1 {
    margin-top: 0 !important;
  }

  .jumbotron h1 {
    font-size: 35px !important;
  }

  .jumbotron p {
    font-size: 16px !important;
  }

  .left-align-30 {
    padding-bottom: 0 !important;
    padding-left: 15px !important;
    text-align: left;
  }

  .blue-text h1 {
    font-size: 24px !important;
  }

  .blue-text h4 {
    font-size: 16px;
  }

  .m-top-10 {
    margin-top: 10%;
  }

  .bg-text h1 {
    font-size: 34px !important;
  }

  .bg-text h3 {
    font-size: 20px !important;
  }

  .mob-32 {
    font-size: 32px !important;
  }

  .m-icons {
    height: 70px;
    margin-top: 5%;
  }

  .navbar-nav {
    float: left !important;
  }

  .mob-img {
    max-width: 350px;
  }

  .mob-img-300 {
    max-width: 300px;
  }

  .mob-50 {
    max-width: 50px;
  }

  .h-mob {
    text-align: center;
    font-size: 40px !important;
  }

  .text-mob {
    text-align: center;
    margin-top: 5% !important;
  }

  .p-16 {
    font-size: 16px !important
  }

  .h-37-mob {
    font-size: 37px !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .mob-img {
    max-width: 330px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}